body {background-image:none;margin:0;}
#container {width:100%;}
#top {margin:0;height:10px;background:#739fce;padding:4px 8px 0;}
#top a {font-size:75%;}
#header {height:35px;background:#739fce;padding-top:5px;}
#header h1 {margin:0;display:inline;padding:4px;}
#header h1 a {color:#fff;font-size:160%;text-decoration:none;}
#logo, .export {display:none;}

#nav {margin:0 0 20px;height:25px;width:100%;float:left;border:0;display:inline;padding-top:4px;background:#3b65a1;}
#nav ul li a {color:#fff;padding:0 4px;font-size:75%;}

#content {margin:0;padding:0 4px;width:98.6%;font-size:85%;}
table th {font-size:95%;}
.msgbox {margin:0 auto;width:80%;}
#footer {margin:25px 0 0;padding:10px 4px;}
#footer li a {font-size:75%;}
