a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366}
body {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px}
a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #996633; text-decoration: none}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
