
############## Security stuff ##############

# Prevent viewing this file
<Files .htaccess>
  order allow,deny
  deny from all
</Files>

# Setup basic user authetification
#
# Create your own password (.htpasswd) file:
# * http://www.htaccesstools.com/htpasswd-generator/
#
AuthUserFile .htpasswd
AuthName "Please login:"
AuthType Basic

Require valid-user

########### END - Security stuff ############